<div class=" mx-auto">
    <h2 class="mt-5">Log In</h2>

    <div class="row login">
        <div class="col-6">
            <img src="assets/images/login.jpeg"   alt="">
        </div>

        <div class="col-6 mt-5">
            <form (ngSubmit)="loginSubmit(loginForm)" [formGroup]="loginForm">
                <div>
                    <label class="mb-3">UserName :</label>
                    <input formControlName="username" class="form-control mb-3 ">

                    <div *ngIf="loginForm.get('email')?.errors&&loginForm.get('email')?.touched"
                        class="alert alert-danger">
                        <p *ngIf="loginForm.get('email')?.errors?.['required']">Email must Requied</p>
                        <p *ngIf="loginForm.get('email')?.errors?.['email']">Enter your valid Email </p>
                    </div>

                </div>

                <div>
                    <label class="mb-3">Password :</label>
                    <input type="password" formControlName="password" class="form-control mb-3 ">

                    <div *ngIf="loginForm.get('password')?.errors&& loginForm.get('password')?.touched"
                        class="alert alert-danger">
                        <p *ngIf="loginForm.get('password')?.errors?.['required']"> Password must required field </p>
                    </div>

                </div>

                <button type="submit" [disabled]="loginForm.invalid" *ngIf="!loading"
                    class=" btn bg-main text-white d-block my-3">Login</button>
                <button *ngIf="loading" class=" btn bg-main text-white d-block my-3">
                    <i class="fa-solid fa-spinner"></i>
                </button>

            </form>
        </div>

    </div>
</div>