

i {
    position: relative;
    right: 40px;
}

.search{
    margin: 2rem 0;
    position: relative;
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}